@font-face {
    font-family: 'Pretendard_M';
    font-weight: 500;
    font-display: swap;
    src: url('../Font/woff2/Pretendard-Medium.woff2') format('woff2'), url('../Font/woff/Pretendard-Medium.woff') format('woff'), url('../Font/ttf/Pretendard-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard_R';
    font-weight: 400;
    font-display: swap;
    src: url('../Font/woff2/Pretendard-Regular.woff2') format('woff2'), url('../Font/woff/Pretendard-Regular.woff') format('woff'), url('../Font/ttf/Pretendard-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: url('../Font/woff2/Pretendard-Light.woff2') format('woff2'), url('../Font/woff/Pretendard-Light.woff') format('woff'), url('../Font/ttf/Pretendard-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'HyliaSerif';
    font-weight: 500;
    font-display: swap;
    src: url('../Font/HyliaSerif.otf') format('opentype');
}

@font-face {
    font-family: 'vitro';
    font-weight: 400;
    font-display: swap;
    src: url('../Font/VITRO_CORE.ttf') format('truetype');
}

@media screen and (max-width:767px) {
    h2 {
        font-size: 3vh;
        /* 30px */
        color: #B99F65;
    }
    h3 {
        font-size: 2.28vh;
        /* 20px */
        color: #B99F65;
    }
    h4 {
        font-size: 2.1vh;
        /* 18px */
        color: #B99F65;
    }
    h5 {
        font-size: 1.831vh;
        /* 16px */
        color: #B99F65;
    }
    p {
        font-size: 1.602vh;
        /* 14px */
        color: #B99F65;
    }
    a {
        font-size: 1vh;
        /* 10px */
        color: #B99F65;
    }
    * {
        margin: 0;
        padding: 0;
    }
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    img {
        vertical-align: top;
    }
    .skip {
        display: none;
    }
    body {
        background: #EDE9CA;
        overflow-x: hidden;
        width: 100vw;
    }
    /* header style */
    .header {
        background: url(../img/patton.png) repeat 0 0;
        background-size: cover;
        width: 100%;
        padding: 3% 0;
        position: relative;
        position: fixed;
        z-index: 200;
        max-height: 8vh;
    }
    .header>.logo {
        width: 20%;
        margin: 0 auto;
    }
    .header>.menu_btn {
        position: absolute;
        top: 35%;
        left: 3%;
    }
    .header>.menu_btn img {
        vertical-align: bottom !important;
    }
    .header>.menu_btn .close {
        position: absolute;
        top: 25%;
        left: 3%;
    }
    .nav {
        position: fixed;
        top: -100%;
        /* 화면 위로 숨김 */
        left: 0;
        width: 100%;
        background: url(../img/patton2.png) no-repeat center;
        background-size: cover;
        padding: 10vh 0 5vh;
        z-index: 100;
        transition: top 0.4s ease;
    }
    /* nav 열렸을 때 */
    .nav.open {
        top: 8vh;
    }
    /* 버튼 기본 상태 */
    .menu_btn .skip {
        display: none;
        /* 닫기 버튼 숨김 */
    }
    /* nav 열렸을 때 버튼 전환 */
    .nav.open~header .menu_btn a:first-child {
        display: none;
        /* 열기 버튼 숨김 */
    }
    .nav.open~header .menu_btn .skip {
        display: inline-block;
        /* 닫기 버튼 보임 */
    }
    .nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4vh;
    }
    .nav ul li a {
        font-size: 3vh;
        font-family: 'HyliaSerif';
        display: block;
        color: #EDE9CA;
    }
    .nav ul li:hover a {
        color: #00A3DB;
    }
    .nav_btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 4%;
        bottom: 5vh;
        gap: 3vh;
    }
    .nav_btn>.cart:hover img {
        content: url(../img/Icon/shopping-cart_B.png);
    }
    .nav_btn>.Profile:hover img {
        content: url(../img/Icon/Profile_B.png);
    }
    /* goods style */
    .GoodsBack {
        padding-top: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4vh;
        margin: 0 3vh 10vh;
    }
    .Goods_title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .Goods_title>img {
        width: 42%;
    }
    .Goods_title>h4 {
        font-family: 'HyliaSerif';
        color: #B99F65;
    }
    /* big Goods style */
    .bigGoods_slider {
        display: flex;
        flex-direction: row;
        gap: 2vw;
        /* 이미지 사이 간격 */
        overflow-x: auto;
        /* 가로 스크롤 */
        scroll-snap-type: x mandatory;
        /* 스냅 */
        -webkit-overflow-scrolling: touch;
        /* 모바일 부드러운 스크롤 */
        width: 100%;
        /* 부모 기준 전체 */
        padding: 2vh;
    }
    .bigGoods_slider>a {
        flex: 0 0 auto;
        /* 크기 고정 (줄바꿈 방지) */
        scroll-snap-align: center;
        /* 가운데 맞추기 */
        width: 95vw;
        /* 슬라이드 크기 (원하는 값으로 조정) */
    }
    .bigGoods_slider img {
        display: block;
        width: 100%;
        /* 부모 a태그에 맞게 */
        height: auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    /* goods style */
    .goodsBox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5vw;
        width: 100%;
    }
    .goods_card {
        position: relative;
    }
    .goods_card>img {
        width: 100%;
        cursor: pointer;
    }
    .goods_card:hover img {
        transform: scale(1.1) 0.4s ease;
    }
    .goods_card .info {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.6);
        transition: opacity 0.4s ease;
        padding-top: 20px;
        opacity: 0;
        cursor: pointer;
    }
    .goods_card .info h3,
    .goods_card .info p {
        color: #ffffff;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 90%;
        overflow: hidden;
        text-align: center;
        font-family: 'Pretendard_R';
    }
    .goods_card .info p {
        font-family: 'Pretendard';
        font-weight: 200;
        padding-top: 1vh;
    }
    .goods_card:hover img {
        transform: scale(1.1);
        transition: 0.4s;
    }
    .goods_card:hover .info {
        opacity: 1;
        transform: scale(1.1);
        transition: 0.4s;
    }
    /* more style */
    .more {
        width: 100vw;
        padding: 3vh 0;
        background: linear-gradient(to Bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    }
    .more a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3vw;
    }
    .more a img {
        width: 10%;
    }
    .more a h3 {
        font-family: 'Hyliaserif';
        color: #EDE9CA;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    }
    .more a:hover .moreIcon1 {
        content: url(../img/Icon/btn1_H.png);
    }
    .more a:hover .moreIcon2 {
        content: url(../img/Icon/btn2_H.png);
    }
    .more a:hover h3 {
        color: #00A3DB;
    }
}