@font-face {
    font-family: 'Pretendard_M';
    font-weight: 500;
    font-display: swap;
    src: url('../Font/woff2/Pretendard-Medium.woff2') format('woff2'), url('../Font/woff/Pretendard-Medium.woff') format('woff'), url('../Font/ttf/Pretendard-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard_R';
    font-weight: 400;
    font-display: swap;
    src: url('../Font/woff2/Pretendard-Regular.woff2') format('woff2'), url('../Font/woff/Pretendard-Regular.woff') format('woff'), url('../Font/ttf/Pretendard-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: url('../Font/woff2/Pretendard-Light.woff2') format('woff2'), url('../Font/woff/Pretendard-Light.woff') format('woff'), url('../Font/ttf/Pretendard-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'HyliaSerif';
    font-weight: 500;
    font-display: swap;
    src: url('../Font/HyliaSerif.otf') format('opentype');
}

@font-face {
    font-family: 'vitro';
    font-weight: 400;
    font-display: swap;
    src: url('../Font/VITRO_CORE.ttf') format('truetype');
}

@media screen and (max-width:767px) {
    h2 {
        font-size: 3vh;
        /* 30px */
        color: #EDE9CA;
    }
    h3 {
        font-size: 2.28vh;
        /* 20px */
        color: #EDE9CA;
    }
    h4 {
        font-size: 2.1vh;
        /* 18px */
        color: #EDE9CA;
    }
    h5 {
        font-size: 1.831vh;
        /* 16px */
        color: #EDE9CA;
    }
    p {
        font-size: 1.602vh;
        /* 14px */
        color: #EDE9CA;
    }
    a {
        font-size: 1vh;
        /* 10px */
        color: #EDE9CA;
    }
    * {
        margin: 0;
        padding: 0;
    }
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    img {
        vertical-align: top;
    }
    .skip {
        display: none;
    }
    body {
        background: #EDE9CA;
        overflow-x: hidden;
        width: 100vw;
    }
    /* header style */
    .header {
        background: url(../img/patton.png) repeat 0 0;
        background-size: cover;
        width: 100%;
        padding: 3% 0;
        position: relative;
        position: fixed;
        z-index: 200;
        max-height: 8vh;
    }
    .header>.logo {
        width: 20%;
        margin: 0 auto;
    }
    .header>.menu_btn {
        position: absolute;
        top: 35%;
        left: 5%;
    }
    .header>.menu_btn img {
        vertical-align: bottom !important;
    }
    .header>.menu_btn .close {
        position: absolute;
        top: 25%;
        left: 3%;
    }
    .nav {
        position: fixed;
        top: -100%;
        /* 화면 위로 숨김 */
        left: 0;
        width: 100%;
        background: url(../img/patton2.png) no-repeat center;
        background-size: cover;
        padding: 10vh 0 5vh;
        z-index: 100;
        transition: top 0.4s ease;
    }
    /* nav 열렸을 때 */
    .nav.open {
        top: 8vh;
    }
    /* 버튼 기본 상태 */
    .menu_btn .skip {
        display: none;
        /* 닫기 버튼 숨김 */
    }
    /* nav 열렸을 때 버튼 전환 */
    .nav.open~header .menu_btn a:first-child {
        display: none;
        /* 열기 버튼 숨김 */
    }
    .nav.open~header .menu_btn .skip {
        display: inline-block;
        /* 닫기 버튼 보임 */
    }
    .nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4vh;
    }
    .nav ul li a {
        font-size: 3vh;
        font-family: 'HyliaSerif';
        display: block;
        color: #EDE9CA;
    }
    .nav ul li:hover a {
        color: #00A3DB;
    }
    .nav_btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 4%;
        bottom: 5vh;
        gap: 3vh;
    }
    .nav_btn>.cart:hover img {
        content: url(../img/Icon/shopping-cart_B.png);
    }
    .nav_btn>.Profile:hover img {
        content: url(../img/Icon/Profile_B.png);
    }
    /* rune title style */
    .runeBack {
        padding-top: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 7vh;
        margin-bottom: 10vh;
    }
    .Rune_title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 3vh;
    }
    .Rune_title>img {
        width: 40%;
    }
    .Rune_title>h4 {
        font-family: 'HyliaSerif';
        color: #B99F65;
    }
    /* rune_slider style */
    .rune_slider {
        display: flex;
        flex-direction: row;
        gap: 2vh;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        width: 70vw;
        padding: 0 15vw;
    }
    .rune {
        background: url(../img/patton.png) repeat 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4vh 3vh;
        gap: 3vh;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        flex: 0 0 88%;
        /* 한 화면에 하나씩 보이게 */
        scroll-snap-align: center;
    }
    .runeIcon {}
    .rune>.title {
        font-family: 'VITRO';
        text-align: center;
    }
    .titleLine {
        background: #B99F65;
        width: 90%;
        height: 1px;
    }
    .rune>.text {
        text-align: center;
    }
    .rune>.text>p {
        font-family: 'pretendard';
    }
}